<script>
  export let transformed_data = [];
  export let range_city=[]; 
  const width = 940;
  const days=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
  const height = 400;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // The rescale function should be unique to every city
  const rescale = function(energy, min_energ, max_energ) {
    return ((energy-min_energ))/(max_energ-min_energ)*17 + 1
  }
 
  let heating_path=(data,range_city)=>{
    let path="M 0,0";
        data.forEach((energy,idx_day)=>{
            path+=" "+((innerWidth)/860*idx_day)+','+(-rescale(energy,range_city['min'],range_city['max']))
          })
          path+=" "+((innerWidth))+",0"
        return path
  }

</script>

<svg {width} {height}>
  <g transform="translate({margin.left+100}, {margin.top})">
    
  {#each Object.keys(transformed_data) as building, idx}
      <g transform="translate(0,{21*idx+23})">
          <text font-size=8 font-family=cursive x=-100 y=3>{building}</text>
          <path  d={heating_path(transformed_data[building],range_city[building])}/  />
      </g>
    {/each}
    
    <line class='grid' x1=0 y1=350 x2=0 y2=340> </line>

    <line class='grid' x1=190 y1=350 x2=190 y2=340> </line>

    <line class='grid' x1=415 y1=350 x2=415 y2=340> </line>
    <line class='grid' x1=600 y1=350 x2=600 y2=340> </line>

    <line  x1=0 y1=340 x2=900 y2=340> </line>

    <text class ='week' font-size=12 x=10 y=360>Week 1</text>
    <text class ='week' font-size=12 x=200 y=360>Week 2</text>
    <text class ='week' font-size=12 x=425 y=360>Week 3</text>
    <text class ='week' font-size=12 x=610 y=360>Week 4</text>
    
  </g>
</svg>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line{
    stroke:black;
  }
path{
      fill:rgb(60, 61, 64);;
      fill-opacity:0.5;
      stroke:black;
          }
   line.grid{border-bottom: 1px dotted [color];
  width: px; }
  text.week{
    fill:rgb(113, 130, 192);;
  }  
</style>
