<script>
  export let present=[];
  const city = ["Baltimore", "Chicago", "Los Angeles"];
  
  $:selected_city="Chicago";
  $:present=selected_city;
</script>
<form>
  
  <div>
    <p><b>Location:</b></p>
      {#each city as city_dummy}
      <label>
      <input type=radio name="City" id={city_dummy} value={city_dummy} bind:group={selected_city}/>
      {city_dummy} 
      </label>
      <br>
      {/each}
  </div>
  
</form>
<style>
div {
  text-align: center;
  font-family:'cursive';
  }
  p{
  font-size: 30;
  font-family:'cursive';
  
}
  </style>