<script>
  import Circulardesign from './design_2_design.svelte';
  import {onMount} from 'svelte';
  import {json} from "d3-fetch";
  let datapoints=null
  let transformed_data={}
  import {scaleLinear} from 'd3-scale';
  let Scaledata
  import {extent} from 'd3-array'

  onMount(async () => {
  datapoints = await json('/data/daily_heating_cooling.json')
  datapoints.forEach((d)=>{
      if (!(d.city in transformed_data)){
        transformed_data[d.city]={}
      }
      if (!(d.month in transformed_data[d.city])){
        transformed_data[d.city][d.month]={"heating":[],"cooling":[],'days':null}
      }
      transformed_data[d.city][d.month]["cooling"].push(d.cooling)
      transformed_data[d.city][d.month]["heating"].push(d.heating)
      transformed_data[d.city][d.month]["days"]=d.day
      })

    // // heating has a higher max value, so we will take heating max value
    // $: console.log(extent(datapoints.map((d)=> d.heating)))
    // $: console.log(extent(datapoints.map((d)=> d.cooling)))

    
    Scaledata = scaleLinear().domain(extent(datapoints.map((d)=> d.heating))).range([0,100])
    
  })
  //$: console.log(Scaledata)
  //$: console.log(transformed_data)
const width = 1000;
const height = 450;
const margin = { top: 10, right: 10, bottom: 10, left: 10 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_data) as city, idx}
      <g transform="translate({300*idx+160},225)" >
        <circle cx=0 cy=0 r=120  > </circle>
        <line x1=-120 x2=120 y1=0 y2=0/>
        <line x1=0 x2=0 y1=-120 y2=120/>
        <text x=-30 y=-150 font-family=cursive>{city}</text>
        <text y=-130 font-family=cursive>0 (January)</text>
        <text  y=140 font-family=cursive>6</text>
        <text x=-140 font-family=cursive>9</text>
        <text x=140 font-family=cursive>3</text>
        <Circulardesign transformed_data={transformed_data[city]} {Scaledata}/>
      </g>
      
    {/each}
    
    
    <text x=300 y=400 fill="rgb(43,138,154)" font-family=cursive >Cooling</text>
    <text x=30 y=40 fill="rgb(228,85,39)" font-family=cursive>Heating</text>
    
    <path  d="M 230,110 Q 270,130 290,180" />
    
    <line x1=290 y1=180 x2=292 y2=172> </line>
    <line x1=290 y1=180 x2=283 y2=175> </line>
    <text font-size=10 font-family=cursive x=275 y=135>Month</text>

    <path class='heating_ref' d="M 50,50 Q 60,150 127,180" />
    <line class='arrow_heating' x1=127 y1=180 x2=120 y2=172> </line>
    <line class='arrow_heating' x1=127 y1=180 x2=118 y2=180> </line>

    <path class='cooling_ref'd="M 175,250 Q 280,300  330,380" />
    <line class='arrow_cooling' x1=175 y1=250 x2=182 y2=258> </line>
    <line class='arrow_cooling' x1=175 y1=250 x2=186 y2=251> </line>
  </g>
  
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle {
  fill: none;
  stroke: black;
    }
  line {
  stroke:black;
    } 
  path{
    fill: none;    
    stroke:black;
    }
  path.heating_ref{
    fill: none;    
    stroke:rgb(228,85,39);
    }
  path.cooling_ref{
    fill: none;     
    stroke:rgb(43,138,154);
    }
  line.arrow_heating {
    stroke:  rgb(228,85,39);
    }
  line.arrow_cooling {
    stroke:  rgb(43,138,154);
    }
</style>
