<script>
    export let transformed_data={}
    export let Scaledata
    
    let heating_path=(d)=>{
        let path="M";
        Object.keys(d).forEach((month)=>{d[month]['heating'].forEach((day_energy,idx)=>{
            path+=" "+(Scaledata(day_energy)*Math.sin(3.14/180*(((month-1)*(360/12)+30/d[month]['days']*idx))))+','+(Scaledata(day_energy)*-Math.cos((3.14/180*((30/d[month]['days']*idx+(month-1)*(360/12))))))
           })})
        return path
    }
   
    let cooling_path=(d)=>{
        let path="M";
        Object.keys(d).forEach((month)=>{d[month]['cooling'].forEach((day_energy,idx)=>{
            path+=" "+(Scaledata(day_energy)*Math.sin(3.14/180*((30/d[month]['days']*idx+(month-1)*(360/12)))))+','+(Scaledata(day_energy)*-Math.cos(3.14/180*((30/d[month]['days']*idx+(month-1)*(360/12)))))
        })})
        return path
    }
  </script>
  
  <path class="heating" d={heating_path(transformed_data)}/>
  <path class="cooling" d={cooling_path(transformed_data)}/>
  
  <style>
    path.heating{
        fill:rgb(228,85,39);
        fill-opacity:0.6;
        
    }
    path.cooling{
        fill:rgb(43,138,154);
        fill-opacity:0.6;
    }
  </style>
   