<script>
    export let transformed_data={}
    export let Scaledata
    export let week
    export let flip =null
    let path_ele=(data,week)=>{
        let path="M";
        data['total_electrity'].forEach((value,idx)=>{path+=" "+(idx*flip)+','+(-Scaledata(value))} )
        return path
    }
    let path_gas=(data)=>{
        let path="M";
        data['total_gas'].forEach((value,idx)=>{path+=" "+(idx*flip)+','+(Scaledata(value))})      
        return path
    }
  </script>
  
  <path class="total_electrity"d={path_ele(transformed_data,week)}/>
  <path class="total_gas"  d={path_gas(transformed_data,week)}/>
  
  <style>
    path.total_electrity{
        fill:#034f84;
        stroke:#034f84;
        opacity: 0.8;
    }
    path.total_gas{
        fill:#feb236;
        stroke:#feb236;
        opacity: 0.8;
    }
  </style>
  