<script>
  //Imports
  import {onMount} from 'svelte'
  import {json} from "d3-fetch";
  import {extent} from 'd3-array';
  import Radiobut from "./_design_1_Radiobut.svelte";
  import Designs from "./_design_1_Design.svelte";
  
  //Reactive vars
  $: present="Chicago";
  $: city=present;
  
  let datapoints=null
  let transformed_data={}
  let ready
  let range={}

  onMount(async () => {
    datapoints = await json('/data/hourly_heating_december.json')
    datapoints.forEach((d)=>{
      if (!(d.city in transformed_data)){
        transformed_data[d.city]={}
      }
      if (!(d.buildingtype in transformed_data[d.city])){
        transformed_data[d.city][d.buildingtype]=[]
      }
      transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
      if (!(d.city in range)){
        range[d.city]={}
      }
      if (!(d.buildingtype in range[d.city])){
        range[d.city][d.buildingtype]={'min':null, 'max':null}
      }
      
      range[d.city][d.buildingtype]['min']=extent(transformed_data[d.city][d.buildingtype])[0]
      range[d.city][d.buildingtype]['max']=extent(transformed_data[d.city][d.buildingtype])[1]
      })

      
      ready=true;
    })
  
$: city_=transformed_data[city]
$: range_city=range[city]
//$: console.log(transformed_data)
  
</script>
<div align-items="center" display='flex'>
{#if ready } 
  <Radiobut bind:present={present} /> 
  <Designs transformed_data={city_} {range_city} />
  {:else}

{/if}
</div>
