<script>
  import Design from './design_3_Design.svelte'
  import {onMount} from 'svelte';
  import {json} from "d3-fetch";
  let datapoints=null
  let transformed_data={}
  import {scaleLinear} from 'd3-scale';
  let Scaledata
  import {extent} from 'd3-array'
  
  onMount(async () => {
  datapoints = await json('/data/hourly_electricity_vs_gas_december.json')
  datapoints.forEach((d)=>{
    if (!(d.week in transformed_data)){
      transformed_data[d.week]={"total_electrity":[],"total_gas":[]}
    }
    transformed_data[d.week]["total_electrity"].push(d.total_electrity)
    transformed_data[d.week]["total_gas"].push(d.total_gas)
    })
    // total_gas has a higher max value, so we will take total_gas as domain
    // $: console.log(extent(datapoints.map((d)=> d.total_electrity)))
    // $: console.log(extent(datapoints.map((d)=> d.total_gas))) 
    
    Scaledata=scaleLinear().domain(extent(datapoints.map((d)=> d.total_gas))).range([0,90])
  })
   
  // Size and margins
  $: console.log(datapoints)
  $: console.log(transformed_data)
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const weekHeight=(innerHeight-100)/5;
</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})"  >
    
    <line x1=240 y1={63} x2=240 y2={450}/>
    {#each Object.keys(transformed_data) as week, idx}
    <g transform="translate(240,{-idx*innerHeight/6+450})">
      <g transform="rotate(-25)">
      {#if week%2==0} 
      <Design transformed_data={transformed_data[week]} {Scaledata} flip=1 />
      {/if}
    </g>
    </g>
      {/each}
    {#each Object.keys(transformed_data) as week, idx}
    <g transform="translate(240,{-idx*innerHeight/6+450})">
      <g transform="rotate(25)">
      {#if week%2!=0} 
      <Design transformed_data={transformed_data[week]} {Scaledata} flip=-1 />
      {/if}
    </g>
    </g>
      {/each}  
</g>
<path  d="M 315,500 Q 340,550 380,540" />

<path  d="M 180,380 Q 180,480 120,450" />

<text x=380 y=540 font-family=cursive >Week 1</text>
<text x=50 y=450 font-family=cursive>Week 2</text>

<line x1=375 y1=545 x2=380 y2=540> </line>
<line x1=374 y1=538 x2=380 y2=540> </line>

<line x1=123 y1=458 x2=120 y2=450> </line>
<line x1=128 y1=448 x2=120 y2=450> </line>

<text font-size=15 font-family=cursive x=50 y=550>Chicago Weekly Gas and Electricity Usage</text>
<text font-size=15 font-family=cursive x=50 y=570>(December 14)</text>

<line class='arrow_ele' x1=128 y1=50 x2=120 y2=70> </line>
<line class='arrow_ele' x1=128 y1=65 x2=120 y2=70> </line>
<line class='arrow_ele' x1=118 y1=62 x2=120 y2=70> </line>

<line class='arrow_gas' x1=125 y1=180 x2=118 y2=160> </line>
<line class='arrow_gas' x1=125 y1=165 x2=118 y2=160> </line>
<line class='arrow_gas' x1=115 y1=168 x2=118 y2=160> </line>

<text x=120 y=40 fill="rgb(3,79,132)"font-family=cursive >Electricity</text>
<text x=118 y=200 fill="rgb(254,178,54)" font-family=cursive>Gas</text>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line.arrow_ele {
    stroke: #034f84; 
  }
  line.arrow_gas {
    stroke: #feb236; 
  }
  line {
    stroke: black; 
  }
  path{
    fill: none;    
    stroke:black;
    }
</style>
