<script>
  let clicked = false;
</script>


  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    {#if clicked == true}
   <button class="btn btn-primary">You have clicked the button!</button>
    {:else}
    <button class="btn btn-primary">You have to click the button!</button>
    {/if}
  </button>
  


