<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button
	class="{current === 'Messi' ? 'selected' : 'btn btn-secondary'}" on:click="{() => current = 'Messi'}"
> Messi
</button>

<button
	class="{current === 'Ronaldo' ? 'selected' : 'btn btn-secondary'}" on:click="{() => current = 'Ronaldo'}"
> Ronaldo
</button>

<button class="{current === 'Neymar' ? 'selected' : 'btn btn-secondary'}" on:click="{() => current = 'Neymar'}"
> Neymar
</button>

<style>


	.selected {
		background-color: hsl(81, 68%, 63%);
		color: black;
	}
</style>