<script>
    const name = 'Wissam El Jablaoui';
    const hobbies = ['Playing the piano','Snowboarding','Gaming'];
    const student = {name, hobbies}
</script>
<div>
    <p> My name is {student.name} and these are some of my favourite things:</p>
    <ul>
        <li>{student.hobbies[0]}</li>
        <li>{student.hobbies[1]}</li>
        <li>{student.hobbies[2]}</li>
    </ul>
</div>