<script>
    const radius= 5
    function circum(radius){
        return (2*radius*Math.PI).toFixed(2)
    }
</script>

<p>The circumference of a circle with a radius {radius} m is {circum(radius)} m<sup>2</sup></p>

