<script>
  import {scaleSqrt} from 'd3-scale';
  import {schemeSet1}from 'd3-scale-chromatic';
  import {extent} from 'd3-array';
  import {axisLeft} from 'd3-axis';
  import{axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  import {scaleLinear} from "d3-scale";
  import {scaleOrdinal} from "d3-scale";
  import {scaleLog} from 'd3-scale';
  
    // Dimensions
    const [height, width] = [400, 600];
    const margin = { top: 50, right: 5, bottom: 55, left: 50 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    export let data;
    const classcolour = extent(data, (d) => d.continent);
    const ticks=[400,4000,40000];
    const radius=scaleSqrt().domain([0,5e8]).range([5,10]);
    const scaleX=scaleLog().domain([300,100000]).range([0,innerWidth]);
    const scaleY=scaleLinear().domain([0,90]).range([innerHeight,0]);
    const ordinal=scaleOrdinal().range(schemeSet1).domain(classcolour);
    
    let a;
    $:{
      let yaxis=axisLeft(scaleY);
      select(a).call(yaxis);
    }
    let b;
    $:{
      let xaxis=axisBottom(scaleX)
      .tickValues(ticks);
      select(b).call(xaxis);
    }
  
  </script>
  
  <svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
    <text  x=0 y=0 transform=" translate(20,250) rotate(270)" fill="currentColor" style="font-size:1em;">Life Expectancy </text>
    <!-- svelte-ignore a11y-missing-attribute -->
    <a transform="translate({margin.left}, {margin.top})">
        {#each data as value}
        {#if value.income !== null && value.life_exp !== null && value.population !== null}
        <circle r={radius(+value.population)}  cy={scaleY(+value.life_exp)} cx={scaleX(+value.income)} style="fill: {ordinal(value.continent)};"/>
        {/if}
        {/each}
        <text  x={innerWidth/2-margin.left} y={height-65} fill="currentColor" style="font-size:1em;">GDP Per Capita </text>
        <text x={innerWidth/2-2.5*margin.left}  y=0 style="font-size:2em;">Scatterplot</text>
        <text x={innerWidth-100}, y={innerHeight-250} style="font-size:1.5em; opacity: 0.3;">Year-1800</text>
        {#each ticks as tick}
        <text  x={scaleX(+tick)-10}  y={height-1.8*margin.top} fill="currentColor" style="font-size:0.65em;">${tick} </text>
        {/each}
    </a>
    <!-- svelte-ignore a11y-missing-attribute -->
    <a transform="translate({margin.left},{margin.top})" bind:this={a}>
    </a>
    <!-- svelte-ignore a11y-missing-attribute -->
    <a transform="translate({margin.left},{innerHeight+margin.top})" bind:this={b}>
    </a>
  
  </svg>
  