<script>
  // Dimensions
  import { scaleLog } from 'd3-scale';
  import {axisBottom } from 'd3-axis';
  import {select } from 'd3-selection';

  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  const scaleX = scaleLog().domain([1,10]).range([0, innerWidth-5]);
  function xaxis(x) {axisBottom(scaleX)(select(x))};
  // Array
  const values = [2, 4, 6, 7, 9];
  
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <g transform ="translate(0,60)" use:xaxis={"g"}></g>

    {#each values as datapoint}
      <circle cx={scaleX(datapoint)}
              cy={innerHeight / 2}
              r=10 
              fill="purple"/>
    
      
    {/each}
    <text font-size="10" x={width/2} y={90} fill="currentColor">x axis</text>
  </g>
</svg>
