<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

   import {scaleLinear} from 'd3-scale';
   import {scaleOrdinal} from 'd3-scale';
   import {schemeSet3} from 'd3-scale-chromatic';
   import {extent} from 'd3-array';
   const scaleX = scaleLinear().domain([0,10]).range([0,innerWidth-5]);
   const scaleY = scaleLinear().domain([0,3]).range([innerHeight,0]);
   
   const Catcolour= extent(values, (v) => v.category);
   const scaleCat = scaleOrdinal().domain(Catcolour).range(schemeSet3); 
   import {axisBottom } from 'd3-axis';
   import {select} from 'd3-selection';

   function xaxis(x) {axisBottom(scaleX)(select(x))};
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <rect x="0" y={scaleY(0)} width="800" height="1" />
    {#each values as datapoint}  
     <circle r=5 cy={scaleY(datapoint.y)} cx={scaleX(datapoint.x)} style="fill: {scaleCat(datapoint.category)};"/>
     <text class = "valueLabel" x={scaleX(datapoint.x)} y={scaleY(datapoint.y)-7}>{datapoint.y}</text>
     <rect x={scaleX(datapoint.x)-0.5} y={scaleY(datapoint.y)+5} width="1" height={innerHeight-scaleY(datapoint.y)-5} />
    {/each}
  </g>
</svg>

<style>
  text{
    font-size: 10px;

  }
</style>
