<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Import
  import {scaleLinear} from 'd3-scale';
  import {scaleBand} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {axisLeft} from 'd3-axis';
  import {select} from 'd3-selection';


  //new constants
  const servicer=data.map((s) => s.service)
  const scaleX = scaleBand().domain(servicer).range([0,innerWidth]);
  const scaleY= scaleLinear().domain([0,3]).range([innerHeight, 0]);

  let g;
  $:{
    let yaxis=axisLeft(scaleY);
    select(g).call(yaxis);
  }
  let g2;
  $:{
    let xaxis=axisBottom(scaleX);
    select(g2).call(xaxis);
  }

  
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left-30},${margin.top})`}>
    <text  x=0 y=0 transform=" translate(margin.left,margin.top)" fill="currentColor" style="font-size:0.75em;">Viewers (Million) </text>
    {#each data as datapoint}
    <rect x={scaleX(datapoint.service)+10} y={scaleY(datapoint.viewers)} width="75" height={innerHeight-scaleY(datapoint.viewers)} fill="purple"/>
    {/each}
    
  </g>
  <g transform="translate({margin.left-30},{margin.top})" bind:this={g}>
  </g>
  <g transform="translate({margin.left-30},{innerHeight+margin.top})" bind:this={g2}>
  </g>
  <g transform={`translate(${margin.right},${margin.bottom})`}>
  <text  x=553 y=250 transform=" translate(margin.right,margin.bottom)" fill="currentColor" style="font-size:0.75em;">Service </text>
  <text  x=200 y=0 transform=" translate(margin.right,margin.bottom)" font-weight="650" fill="black" style="font-size:1em;" >Histogram of Viewers per streaming service </text>
</g>
</svg>
